{% extends 'core/base.html' %}
{% load static %}

{% block head_title %}
    Education Loan
{% endblock %}

{% block content %}
    <form method="post" action="" class="container mx-auto mt-8 p-5">
        {% csrf_token %}
        <div class="mb-8 p-5 shadow-lg rounded-lg bg-white">
            <h2 class="text-xl font-semibold mb-6">Student Information</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <!-- Manually handle each field to apply Tailwind CSS -->
                <div>
                    <label class="block font-medium text-gray-700">First Name</label>
                    {{ form.first_name }}
                </div>
                <div>
                    <label class="block font-medium text-gray-700">Middle Name</label>
                    {{ form.middle_name }}
                </div>
                <div>
                    <label class="block font-medium text-gray-700">Last Name</label>
                    {{ form.last_name }}
                </div>
                <div>
                    <label class="block font-medium text-gray-700">Date of Birth</label>
                    {{ form.date_of_birth }}
                </div>
                <div>
                    <label class="block font-medium text-gray-700">Email</label>
                    {{ form.email }}
                </div>
                <div>
                    <label class="block font-medium text-gray-700">Phone</label>
                    {{ form.phone }}
                </div>
            </div>
        </div>

        <div class="mb-8 p-5 shadow-lg rounded-lg bg-white">
            <h2 class="text-xl font-semibold mb-6">Loan Details</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                {{ form.amount }}
                {{ form.tenure }}
                {{ form.university }}
                {{ form.graduation_date }}
                {{ form.degree }}
                {{ form.college_id }}
            </div>
        </div>

        <div class="flex justify-end mt-4">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Submit Application
            </button>
        </div>
    </form>
{% endblock %}