{% extends 'core/base.html' %}
{% load static %}

{% block head_title %}
    Apply for a Personal Loan
{% endblock %}

{% block content %}
    <div class="max-w-4xl mx-auto bg-white p-8 mt-10 shadow-lg rounded-lg border">
        <h2 class="text-center text-2xl font-semibold text-gray-800 mb-6">Apply for a Personal Loan</h2>
        <form method="post" class="space-y-6">
            {% csrf_token %}
            <!-- Loan Information Card -->
            <div class="bg-gray-100 p-5 rounded-md shadow">
                <h3 class="text-lg font-semibold mb-4">Loan Information</h3>
                <div class="grid grid-cols-2 gap-4">
                    <label for="amount" class="font-medium text-gray-700">Loan Amount:</label>
                    {{ personal_loan_form.amount }}
                    <label for="tenure" class="font-medium text-gray-700">Loan Tenure:</label>
                    {{ personal_loan_form.tenure }}
                </div>
            </div>
            <button type="submit"
                    class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded focus:outline-none focus:shadow-outline">
                Submit Application
            </button>
        </form>
    </div>
{% endblock %}


